<?php

use Zend\Http\Client as HttpClient;

return [
    'apigility-consumer' => [
        'api-host-url' => 'http://api.host.com',
        
        // for oauth
        'oauth' => [
            'grant_type'    => 'password', // or client_credentials
            'client_id'     => 'foo',
            'client_secret' => 'foo_s3cret',
        ],
        
        // adapter options
        'api-http-adapter-options' => [
            'curloptions' => array(
                CURLOPT_CAPATH => __DIR__ . '/../../data/',
                CURLOPT_SSL_VERIFYPEER => true
            )
        ],
        
        // for basic and or digest
        'auth' => [
            
            HttpClient::AUTH_BASIC => [
                'username' => 'foo',
                'password' => 'foo_s3cret'
            ],
            
            HttpClient::AUTH_DIGEST => [
                'username' => 'foo',
                'password' => 'foo_s3cret'
            ],
            
        ],
    ],
];
